.orange-style {
  background-color: orange;
}
.content-pizza {
  padding: 120px 0 50px 0;
}
.content-title {
  font-size: 400%;
}
.border-bottom-warning {
  border-bottom: 1px solid orange;
}
.dadang {
  border: 1px solid orange;
  background-color: lightgoldenrodyellow;
}
.chatluong {
  border: 1px solid orange;
  background-color: yellow;
}
.huongvi {
  border: 1px solid orange;
  background-color: lightsalmon;
}
.dichvu {
  border: 1px solid orange;
  background-color: orange;
}
.menu-offer {
  border-bottom: 1px solid orange;
}
.select-drink {
  text-align: center;
}
.content-truly {
  font-style: italic;
}
.create {
  padding: 20px;
  background-color: orange;
}
